* linguist-language=GO
*.txt linguist-language=Markdown
*.md linguist-language=Markdown
*.json linguist-language=JSON
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.xml linguist-language=XML
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.sh linguist-language=Shell
*.Dockerfile linguist-language=Dockerfile
README linguist-language=Markdown
LICENSE linguist-language=Markdown
LICENSE.txt linguist-language=Markdown
CONTRIBUTING.md linguist-language=Markdown
CHANGELOG.md linguist-language=Markdown
CODE_OF_CONDUCT.md linguist-language=Markdown
.gitignore linguist-language=GitIgnore
